
	 <!-- jQuery CDN-->
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>

	<!-- Bootstrap Javascript CDN -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

	<!-- imagesLoaded CDN -->
	<script src="https://npmcdn.com/imagesloaded@4.1/imagesloaded.pkgd.min.js"></script>

	<!-- MASONRY CDN-->
	<script src="https://npmcdn.com/masonry-layout@4.0/dist/masonry.pkgd.min.js"></script>

	<!-- MAIN JAVASCRIPT FILE -->

	<script src="js/main.js"></script>

<script>

</script>

</body>

</html>