 
<!-- <footer>
	<div class="container">
		Breakfast-Rate made by: Thomas Kolodziejczak
	</div>
</footer> -->

   <!-- MAIN JAVASCRIPT FILE -->
    <script src="/js/main.js"></script>	

</body>

</html>