<% include partials/header %>

<div class="container landing-container">
	
	<div class="row">
		<img class="landing-img" src="/img/logo.svg">
		<h1 class="landing-tagline">Share and review your favorite breakfast recipes.</h1>
	</div>

	<div class="row">
		<h2>Get the most out of Breakfast-Rate by signing up!</h2>
		<a href="/register" class="btn btn-lg btn-warning landing-btn">Sign Up</a>
		<p class="landing-login">Already registed? <a href="/login" class="">Click here to login.</a> </p>
		<br><a href="/recipes">No thanks, take me to the site.</a>
	</div>



</div>

<% include partials/footer %>