<h1>This is the recipes page.</h1>

<a href="/">Home</a>

<% recipes.forEach(function(recipe){ %>
	<h2><%=recipe.name%></h2>
	<img src="<%=recipe.image%>">
	<p><%=recipe.description%></p>
	<hr>

<% }); %>