body {


    height: 100%;
    margin: 0;
    margin-top:60px;
    background-repeat: no-repeat;
    background:#faf8f9;
    /*background: #fffaf4;*/
    
font-family: 'Raleway', sans-serif;
color: #7c7c7c;
}

h1 {
	font-family: 'Raleway', sans-serif;
	color: #E571A0;
}

h2 {
	font-family: 'Josefin Slab', serif;
	margin:0;
	color: #F9D15B;
	text-shadow: 1px 1px 1px rgba(0, 0, 0,0.2);
	font-size:25px;
}

/*===================
	NAVBAR
====================*/
.navbar {
	background: #fffefd;
	border-bottom:1px solid #E571A0;
	box-shadow: 0 0 10px rgba(0,0,0,0.1);
	
}

.navbar-default .navbar-brand {
	color:#E571A0;
	font-family: 'Lobster', cursive;
	font-size:25px;
	text-shadow: -1px 0 black, 0 1px #BE2D68, 1px 0 #BE2D68, 0 -1px #BE2D68;
}

.navbar-default .navbar-brand:hover {
	color:#E571A0;
}

.navbar-default .navbar-brand:active {
	color:#E571A0;
}

.navbar-default .navbar-brand img {
	height:35px;
}

.navbar-default .navbar-nav>li>a {
    color:#F9A45B;
}

.navbar-default .navbar-nav>li>a:hover {
    color:#DD8234;
}

.navbar-default .navbar-toggle {
	background:white;
	border-color:#E571A0;
}

.navbar-default .navbar-toggle .icon-bar {
	background: #E571A0;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
	background: #F9D15B;
}


#sign-in {
    border:2px solid #E571A0;
    background:none;
    color: #E571A0;
    margin-left:5px;
    border-radius:0px;
    font-weight:bold;
}


}


/*===================
	TILES IMAGES 
====================*/


/*MASONRY */


* { box-sizing: border-box; }

/* force scrollbar */



/* ---- grid ---- */

.grid {
  /*max-width:960px;*/
  margin:0 auto;
}

/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .grid-item ---- */

.grid-sizer,
.grid-item {
  width: 25%;
}

.grid-item {
  float: left;
  /*border:1px solid black;*/

}

.grid-item a{
	text-decoration: none;
	color: inherit; 
}

.grid-item-inner {
	display:block;
	margin:10px;
	border:1px solid #d5cdc3;
	background:white;
	padding:10px;
	font-size:13.5px;

	-webkit-box-shadow: 0px 0px 2px 2px rgba(171,157,137,0.23);
	-moz-box-shadow: 0px 0px 2px 2px rgba(171,157,137,0.23);
	box-shadow: 0px 0px 2px 2px rgba(171,157,137,0.23);
}

.grid-item-inner p {
	margin:0;
}

.grid-item img {
  display: block;
  max-width: 100%;
  border:1px solid #d5cdc3;
  padding:3px;
  margin-bottom:5px;
}

/*===================
	RECIPES SHOW PAGE
====================*/
.recipe-show-container{
	
	font-size:16.5px;

	
}


.recipe-show-img {
	display:block;
	/*margin:0 auto;*/
	max-width:100%;
	max-height:325px;
  	border:1px solid #d5cdc3;
  	padding:3px;
  	margin-bottom:5px;
}


/*===================
	MEDIA QUERIES
====================*/

@media screen and (max-width: 991px) {
	.grid-sizer,
	.grid-item {
		width: 33.33333333%;
	}

}

@media screen and (max-width: 767px) {
	.grid-sizer,
	.grid-item {
		width: 50%;
	}


}

@media screen and (max-width: 450px) {

	h1 {
		font-size:28px;
	}

	h2 {
		font-size:20px;
		text-shadow: none;
	}

	.grid-item-inner {
		margin:5px;
		padding:7.5px;
	}

	.grid-item-inner p {
		display:none;
	}

	.grid-item img {
		border:1px solid #d5cdc3;
		padding:0px;
  		margin-bottom:0;
	}

}



