body {


    margin-top:80px;

    height: 100%;
    margin: 0;
    margin-top:80px;
    background-repeat: no-repeat;
    background:#faf8f9;
    /*background: #fffaf4;*/
    

}

.navbar {
	background: white;
	border-bottom:1px solid #E571A0;
	box-shadow: 0 0 10px rgba(0,0,0,0.1);
	
}

.navbar-default .navbar-brand {
	color:#E571A0;
}

.navbar-default .navbar-brand:hover {
	color:#E571A0;
}



.navbar-default .navbar-nav>li>a {
    color:#F9A45B;
}

.navbar-default .navbar-nav>li>a:hover {
    color:#DD8234;
}



#sign-in {
    border:2px solid #E571A0;
    background:none;
    color: #E571A0;
    margin-left:5px;
}

.food-wrap {
		display: flex;
    flex-wrap: wrap;
}

.recipe-wrap {
	border: 1px solid black;
	width:25%;

}





/*MASONRY */


* { box-sizing: border-box; }

/* force scrollbar */

body { font-family: sans-serif; }

/* ---- grid ---- */

.grid {
  /*max-width:960px;*/
  margin:0 auto;
}

/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .grid-item ---- */

.grid-sizer,
.grid-item {
  width: 25%;
}

.grid-item {
  float: left;
  /*border:1px solid black;*/

}

.grid-item-inner {
	margin:10px;
	border:1px solid #d5cdc3;
	/*border-top:5px solid #E571A0;*/
	background:white;
	padding:10px;

-webkit-box-shadow: 0px 0px 2px 2px rgba(171,157,137,0.23);
-moz-box-shadow: 0px 0px 2px 2px rgba(171,157,137,0.23);
box-shadow: 0px 0px 2px 2px rgba(171,157,137,0.23);
}

.grid-item img {
  display: block;
  max-width: 100%;
  border:1px solid #d5cdc3;
  padding:3px;
}
