<% include ../partials/header %>

<div class="container">
	<div style="width:30%; margin:25px auto">	
		
		<h1>Add new recipe</h1>
		
		<form action="/recipes" method="POST">
			
			<div class="form-group">
				<label>Recipe Name:</label>
				<input type="text" name="name" placeholder="Recipe Name" class="form-control">
			</div>

			<div class="form-group">
				<label>Image URL:</label>
				<input type="text" name="image" placeholder="Image URL" class="form-control">
			</div>

			<div class="form-group">
				<label>Description:</label>
				<input type="text" name="description" placeholder="Description" class="form-control">
			</div>
			
			<div class="form-group">
				<label>Ingredients:</label>
					
					<div id = "ingredientHolder">
						<div class="input-group">
  							<input type="text" name="ingredients" class="form-control">
  							<span class="input-group-addon delete-form">X</span>
						</div>
					</div>
						
				<button type="button" id="addIngredient">Add Ingredient</button> 
			</div>

			<div class="form-group">
				<label>Instructions:</label>
				
				<div id="instructionHolder">
					<ol>
						<li>
							Step <span class="step"></span>	
							<textarea name="instructions" class="form-control" rows="3"></textarea>			
						</li>
					</ol>
				</div>
				<button type="button" id="addInstruction">Click to add another instruction</button>
			</div>


			<div class="form-group">
				<button class="btn btn-warning">Add Recipe</button>
			</div>
		</form>

		<a href="/recipes">Go back to recipes</a>

	</div>
</div>

<% include ../partials/footer %>