<% include ../partials/header %>

<div class="container">
	<div  class="new-edit-container">
		
		<h1>Add new recipe</h1>
		
		<form action="/recipes" method="POST" id="newForm">
			
			<div class="form-group">
				<label>Recipe Name:</label>
				<input type="text" name="name" class="form-control" minLength="3" required>
			</div>

			<div class="form-group">
				<label>Image URL:</label>
				<input type="text" name="image" class="form-control" >
			</div>

			<div class="form-group">
				<label>Describe your dish:</label>
				<input type="text" name="description" class="form-control">
			</div>

			<div class="form-group">
				<label>Servings:</label>
				<input type="number" min="0" name="servings" class="form-control " required>
			</div>

			<div class="form-group">
				<label>Prep Time (in minutes):</label>
				<input type="number" min="0" name="prepTime" class="form-control" required>
			</div>

			<div class="form-group">
				<label>Cook Time (in minutes):</label>
				<input type="number" min="0" name="cookTime" class="form-control" required>
			</div>
			
			<div class="form-group">
				<label>Ingredients:</label>
					
					<div id = "ingredientHolder">
						<div>
  							<input type="text" name="ingredients" class="form-control" required>
						</div>
					</div>
						
				<button type="button" class="btn btn-xs" id="addIngredient">Add Ingredient</button> 
			</div>

			<div class="form-group">
				<label>Instructions:</label>
				
				<div id="instructionHolder">
					<ol>
						<li>
							Step <span class="step"></span>	
							<textarea name="instructions" class="form-control" rows="4" required></textarea>	
						</li>
					</ol>
				</div>
				<button type="button" class="btn btn-xs" id="addInstruction">Add Instruction</button>
			</div>


			<div class="form-group">
				<button class="btn btn-warning">Add Recipe</button>
			</div>
		</form>

	</div>
</div>




<% include ../partials/footer %>