<% include ../partials/header %>

<div class="container">
	<div style="width:30%; margin:25px auto">	
		
		<h1>Add new recipe</h1>
		
		<form action="/recipes" method="POST">
			
			<div class="form-group">
				<label>Recipe Name:</label>
				<input type="text" name="name" placeholder="Recipe Name" class="form-control">
			</div>

			<div class="form-group">
				<label>Image URL:</label>
				<input type="text" name="image" placeholder="Image URL" class="form-control">
			</div>

			<div class="form-group">
				<label>Description:</label>
				<input type="text" name="description" placeholder="Description" class="form-control">
			</div>
			<div class="form-group">
				<label>Ingredients (separate by semi-colon):</label>
				<textarea name="ingredients" class="form-control" rows="5" placeholder="Example: 1/2 cups flour; 1 cup milk; 3 eggs"></textarea>
			</div>

			<div class="form-group">
				<label>Instructions:</label>
				
				<div id="instructionHolder">
					<ol>
						<li>
							Step <span class="step"></span>	
							<textarea name="instructions" class="form-control" rows="3"></textarea>
							<span class="deleteInstruction">X</span>			
						</li>
						
						<li>
							Step <span class="step"></span>	
							<textarea name="instructions" class="form-control" rows="3"></textarea>
							<span class="deleteInstruction">X</span>			
						</li>
						
						<li>
							Step <span class="step"></span>	
							<textarea name="instructions" class="form-control" rows="3"></textarea>
							<span class="deleteInstruction">X</span>			
						</li>
						
						<li>
							Step <span class="step"></span>	
							<textarea name="instructions" class="form-control" rows="3"></textarea>
							<span class="deleteInstruction">X</span>			
						</li>
					</ol>
				</div>
				<h3 id="addInstruction">Click to add another instruction</h3>
			</div>


			<div class="form-group">
				<button class="btn btn-warning">Add Recipe</button>
			</div>
		</form>

		<a href="/recipes">Go back to recipes</a>

	</div>
</div>

<% include ../partials/footer %>